pathway2summation.txt
reactome_stable_ids.txt

logs/
target/

# Ignore IntelliJ files
.idea/
download-directory.iml

# Ignore integration test files
protege_files.tar
protege_files/
src/main/resources/run_protege_exporter.log

# Ignore Eclipse files
.classpath
.project
.settings
