# This file is used to specify which steps in DownloadDirectory to execute.
# Comment out any steps that don't need to be run.
protegeexporter
#DatabaseDumps
#BioPAX2
#BioPAX3
#GSEAOutput
#FetchTestReactomeOntologyFiles
#PathwaySummationMappingFile
#MapOldStableIds
#GenerateGOAnnotationFile
#HumanPathwaysWithDiagrams
#CreateReactome2BioSystems

#models2pathways.tsv is no longer needed! The file gets copied at the end of the Biomodels step.
#models2pathways.tsv
